body {
     background-color: #f4f4f9;
     color: black;
     margin: 0;
     padding: 0;
}
main {
     display: flex;
    justify-content: center;
    margin-top: 2%;
}
.maincontainer {
     background-color: #fff;
    max-width: 1200px;
    min-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 8px #0000001a;
    border-radius: 8px;
    color: black;
}
h1{
     text-align: center;
     color : #003580;
     margin: 20px;
     font-size: 2rem;
}
.input-group {
     display: flex;
     justify-content: space-between;
     gap: 8px;
     align-items: flex-end;
}

.input-filed{
     display: flex;
     flex-direction: column;
     align-items: center;;
}

.button-group {
     display: flex;
     flex-shrink: 0;
     gap: 10px;
     align-items: end;
}

input[type = text],input[type = number]{
     padding: 10px;
     border: 1px solid #ddd;
     border-radius: 4px;
     font-size: 14px;
}

input {
     margin: 0;
}

button {
     padding: 10px 20px;
     background-color: #fc0;
     color: #333;
     border-radius: 4px;
     border: none;
     font-size: 14px;
     font-weight: 700;
     align-items: center;
}

table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
     background-color: #e6e6fa;
     border-radius: 8px;
     overflow: hidden;
}

th  {
     background-color: #003580;
     color: #fff;
     font-weight: 700;
    
}

td {
     vertical-align: middle;
     color: #333;
}

th, td {
      padding: 12px;
     text-align: center;
     border-bottom: 1px solid #ccc;
}

td button {
     background-color: red;
     border: none;
     padding: 5px 10px;
     color: #fff;
     border-radius: 4px;
     cursor: pointer;
}